<form action="/delivery/new" method="POST">
	<br/> Do you want to become an employee? By selecting yes, you will have the option to complete orders filled by other students on campus and make $$$.
	<br/>
	Yes, I'm in!: <input type="checkbox" name="upgrade" required><br/>
	<input type="submit" value="Submit">
</form>