<!--Become a Snapper-->
<form action="/delivery/new" method="POST">
	<br/>
	<div class="jumbotron" style="background-color:#E10580">
  <div class="container">
    <h1 class="display-3" style="color:white">Become a Snapper!</h1>
    <p style="color:white; font-size: 20px"> Would you like to become a member of the SnapSnack service team? By selecting yes, you will have the option to accept, deliver, and complete orders requested by other students on campus and make extra cash $$!</p>

    <p style="color:white; font-size: 20px">Yes, I'm in  <input type="checkbox" name="upgrade" required><br/><br/></p>

	<input class="btn btn-primary" type="submit" value="Submit" style="background-color:#41369F">

  </div>
</div>
</form>

<br/><hr>