<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- Header -->
<br/>
<div class="jumbotron" style="background-color:#E10580">
  <div class="container">
    <h1 class="display-3" style="color:white">Welcome to SnapSnack!</h1>
    <p style="color:white">Order food and have it delivered to you on campus! Have the convenience of getting food right to your dorm or classroom. You can also accept other students' requests to deliver food to make some extra cash! Sign up today for FREE!</p>
  </div>
</div>

<hr>
<!--About us section-->
<div class="container">
  <!-- Example row of columns -->
  <br/><br/>
  <div class="row">
    <div class="col-md-4">
      <center>
        <img src="https://ampa-ieslescorts.net/wp-content/uploads/2017/12/school.png" width="100" heigth="100">
      <h2 style="color:#41369F">About Us</h2>
    </center>
      <p>SnapSnack is a campus-specific application that allows college students to order food and have it delivered by other students anywhere on campus. Students can </p>

    </div>
    <div class="col-md-4">
      <center>
      <img src="https://cdn2.iconfinder.com/data/icons/food-ink/512/hamburger-512.png" width="100" heigth="100">
      <h2 style="color:#41369F">Snackers</h2>
    </center>
      <p>Do you only want to order? Become a Snacker by creating an account and only choose to order. Snackers that only choose to order cannot accept requests to deliver and earn extra cash. </p>
    </div>
    <div class="col-md-4">
      <center>
      <img src="https://cdn1.iconfinder.com/data/icons/ecommerce-free/96/Bag-512.png" width="100" heigth="100">
      <h2 style="color:#41369F">Snappers</h2>
    </center>
      <p>Want to deliver? Create a Snacker account and choose to deliver. Snappers have the benefits of ordering and earning extra cash by delivering!</p>
    </div>
  </div>
<br/><hr><br/>

<h2 style="color:#E10580">Snacker Orders</h2>
      <p>Snacker order total will include your snack cost, a SnapSnack tax, and a delivery fee. Snack Order cost is the full price of the desired meal. SnapSnack charges a 10% sales tax (commission) for providing Snacker convenience. A $5 delivery fee is applied for the kind service of our Snappers. The computed total of these three services is the total price for the final Snacker Order.</p><br/>
<!--Monetary Strategy section-->
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <center>
      <img src="https://agriturismoallerose.it/wp-content/uploads/2017/02/fork.png" width="200" height="200">
    <br/><br/>
      <p style="color:#E10580"><strong>Snack Order</strong></p>
    </center>
    </div>

    <div class="col-md-4">
     <center>
      <img src="http://commissionsin90days.com/assets/images/logo.png" width="200" height="200">
    <br/><br/>
      <p style="color:#E10580"><strong>10% Commission</strong></p>
    </center>
    </div>

    <div class="col-md-4">
     <center>
      <img src="http://pinremont.ru/wp-content/uploads/2015/06/cdd591394ef1245aa27e6e4b37c61f1e.png" width="200" height="200">
    <br/><br/>
      <p style="color:#E10580"><strong>$5 Delivery</strong></p>
    </center>
    </div>



  </div>

  <hr>

</div> <!-- /container -->