<div id="form" class="row justify-content-md-center mt-5">
	<div class="card" style="width: 36rem;">
	  <div class="card-body">
  	  <h5 class="card-title">Place your order</h5>
		<form action="/order/create" method="POST">
			<div class="form-group">
				<label for="deliver">Delivery Location</label>
		    	<input type="textbox" class="form-control" name="dloc" aria-describedby="emailHelp" placeholder="Delivery">
			</div>
			<div class="form-group">
				<label for="order">Order</label><br>
				<table class="table table-bordered">
		<tbody>
		  <tr>
			<td><p> Chick-fil-a </p>
				<input type="checkbox" name="chicken_sandwhich" value="421">Chicken Sandwich<br>
			  	<input type="checkbox" name="nuggets" value="519">Chicken Nuggets 8pc<br>
				<input type="checkbox" name="biscuit" value="362">Chicken Biscuit<br><br>
			</td>
			<td><p> El Pato </p>
				<input type="checkbox" name="beef_guisado" value="863">Beef Guisado Pato<br>
			  	<input type="checkbox" name="beef_fajita" value="752">Beef/Chicken Fajita Pato<br>
			  	<input type="checkbox" name="gorditas" value="651">Gorditas<br><br>
			</td>
		  </tr>
		  <tr>
			<td><p> Sushi </p>
				<input type="checkbox" name="firecracker" value="981">Firecracker Roll<br>
			  	<input type="checkbox" name="noodles" value="562">Noodles<br>
			  	<input type="checkbox" name="rice" value="499">Fried Rice<br><br>
			</td>
			<td><p> Pizza Hut </p>
				<input type="checkbox" name="pepperoni" value="495">Pepperoni 1 slice<br>
			  	<input type="checkbox" name="hawaiian" value="1499">Hawaiian<br>
			  	<input type="checkbox" name="wings" value="856">Wings 8pc<br><br>
			</td>
			<td><p> Drinks </p>
					<input type="checkbox" name="coke" value="225">Coke<br>
			  	<input type="checkbox" name="lemonade" value="290">Lemonade<br>
			  	<input type="checkbox" name="powerade" value="199">Powerade<br><br>
			</td>
		  </tr>
		</tbody>
	  </table>
			</div>
			<div class="form-group">
				<label for="time">When do you want it?</label>
		    	<input type="textbox" class="form-control" name="time" aria-describedby="emailHelp" placeholder="min">
			</div>
			<input type="submit" value="Submit">
		</form>
  		</div>
	</div>
</div>