<div id="form" class="row justify-content-md-center mt-5">
	<div class="card" style="width: 36rem;">
	  <div class="card-body">
  	  <h5 class="card-title">Place your order</h5>
		<form action="/order/create" method="POST">
			<div class="form-group">
				<label for="deliver">Delivery Location</label>
		    	<input type="textbox" class="form-control" name="dloc" aria-describedby="emailHelp" placeholder="Delivery">
			</div>
			<div class="form-group">
				<label for="order">Order</label><br>
				<table class="table table-bordered">
		<tbody>
		  <tr>
			<td><p> Chick-fil-a </p>
				<input type="checkbox" name="vehicle1" value="Bike">Chicken Sandwich<br>
			  	<input type="checkbox" name="vehicle2" value="Car">Chicken Nuggets 8pc<br>
				<input type="checkbox" name="vehicle3" value="Boat">Chicken Biscuit<br><br>
			</td>
			<td><p> El Pato </p>
				<input type="checkbox" name="vehicle1" value="Bike">Beef Guisado Pato<br>
			  	<input type="checkbox" name="vehicle2" value="Car">Beef/Chicken Fajita Pato<br>
			  	<input type="checkbox" name="vehicle3" value="Boat">Gorditas<br><br>
			</td>
		  </tr>
		  <tr>
			<td><p> Sushi </p>
				<input type="checkbox" name="vehicle1" value="Bike">Firecracker Roll<br>
			  	<input type="checkbox" name="vehicle2" value="Car">Noodles<br>
			  	<input type="checkbox" name="vehicle3" value="Boat">Fried Rice<br><br>
			</td>
			<td><p> Pizza Hut </p>
				<input type="checkbox" name="vehicle1" value="Bike">Pepperoni 1 slice<br>
			  	<input type="checkbox" name="vehicle2" value="Car">Hawaiian<br>
			  	<input type="checkbox" name="vehicle3" value="Boat">Wings<br><br>
			</td>
		  </tr>
		</tbody>
	  </table>
			</div>
			<div class="form-group">
				<label for="time">When do you want it?</label>
		    	<input type="textbox" class="form-control" name="time" aria-describedby="emailHelp" placeholder="Time">
			</div>
			<input type="submit" value="Submit">
		</form>
  		</div>
	</div>
</div>