<form action="/order/create" method="POST">
	<br/>
	Delivery Location: <input type="text" name="dloc" required><br/>
	Order Description: <input type="text" name="odescription" required><br/>
	Time for order to be completed: <input type="text" name="time" required><br/>
	<input type="submit" value="Submit">
</form>