<br/>
 <div class="container">
    <center>
    	<img src="http://icons.iconarchive.com/icons/google/noto-emoji-activities/1024/52707-party-popper-icon.png" width="150" height="150">
    	<br/>
    	<h3 style="color:#E10580">Successfully became a Snapper! You can now accept tasks!</h3>
    </center>
</div>


<br/><hr>